
.example-card
{
    max-width: 400px;
}
.example-header-image
{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

  
mat-card 
{
    min-width: 60%;
    margin: 2em auto;
    text-align: center;
}
mat-form-field
{
      display: block;
}

.example-full-width{
    width: auto;
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
.full-width {
    width: 100%;
  }


    
#body {
  font-family: 'Nunito';
  background-color:  #5d8fc9;
  }
#login-card{
      width:40%;
      border-radius: 2%;
      margin:10% auto;
      background-color: aquamarine;
    
  }
  
#email{
      border-radius:30px;
      background-color: #ebf0fc;
      border-color: #ebf0fc;
      color: #9da3b0;
  }
  #password{
    border-radius:30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #9da3b0;
}
  
  #button{
      border-radius:30px;
  }
  
 #btn{
     position: absolute; 
     bottom: -35px; 
     padding: 5px;
     margin: 0px 33%;
     align-items: center;
     border-radius: 5px;
  }
  #container{
      margin-top:25px;
  }
  #nac{
      margin:15% 38%;
  }
  
  .btn-circle.btn-sm { 
              width: 40px; 
              height: 40px; 
              padding: 2px 0px; 
              border-radius: 25px; 
              font-size: 14px; 
              text-align: center;
              
              margin: 8px;
          }