<mat-grid-list cols="4" rowHeight="550px" colWidth="70%">
  <mat-grid-tile class="itemsstyle" *ngFor = "let product of (products | async)" idth="150px" max-width="150px">
    <mat-card width="150px" max-width="150px">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src="{{product.img}}" alt="{{product.name}}"/>
        </div>
        <mat-card-title>   {{product.name}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="{{product.img}}" alt="{{product.name}}" height="400px">
      <mat-card-content height="20px">
        <p>
          {{product.name}} : $ {{product.price}}
        </p>
      </mat-card-content >
      <mat-card-actions height="20px">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


