
  <header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
             <a class="logo" routerLink="/" ></a>
             <a mat-button routerLink="/" routerLinkActive="active-link" ><i class="fa fa-home" aria-hidden="true"></i>Home</a>
             <a mat-button routerLink="/products" routerLinkActive="active-link"><i class="fa fa-product-hunt"></i>Products</a>
             <a mat-button routerLink="/products" routerLinkActive="active-link"><i class="fa fa-address-card"></i> ContactUs</a>
             <a mat-button routerLink="/products" routerLinkActive="active-link"><i class="fa fa-info-circle"></i> AboutUs</a>
             <span class="example-spacer"></span>
             <a *ngIf="!user" mat-button ml-auto routerLink='/register' routerLinkActive ='active-link' ><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a>
              <a *ngIf="!user" mat-button routerLink='/login' routerLinkActive ='active-link' ><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
              <div>
                <a *ngIf="user" mat-button [matMenuTriggerFor]="menu">
                   <mat-icon>account_circle</mat-icon>{{user}}
                </a>
                <mat-menu #menu="matMenu">
                   <button (click)="logout()" mat-menu-item>Logout</button>
                </mat-menu>
              </div>
              <p>
                <mat-icon matBadge="15" matBadgeColor="warn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></mat-icon>
                  <!-- Include text description of the icon's meaning for screen-readers -->
              </p>
        </mat-toolbar-row>
     </mat-toolbar>
  </header>
<router-outlet></router-outlet>

