.example-spacer{
  flex: 1 1 auto;
}

a{
  padding: 1 5px;
  margin : 0 5px;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.logo{
  background-image: url('../assets/logo.png');
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon{
  vertical-align: middle;
  margin: 0 5px;
}

