
  <div class="container">
    <h1 class="text-center">Registeration Form</h1>
    <div class="row">
    <div class="col-md-6 col-sm-12">
    <input type="text" class="form-control" id="fname" placeholder="First Name">
    </div>
    <div class="col-md-6 col-sm-12">
     <input type="text" class="form-control" id="lname" placeholder="Last Name">
   </div>
  </div>
  <div class="row">
  <div class="col-md-12 col-sm-12">
  <input type="text" class="form-control" id="usename" placeholder="Display Name">
  </div>
  </div>
  <div class="row">
  <div class="col-md-12 col-sm-12">
    <input type="email" class="form-control" id="email" placeholder="Email Address">
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <input type="text" class="form-control" id="daddress" placeholder="Default Delivery Address">
    </div>
    </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <input type="number" class="form-control" id="phoneno" placeholder="Phone Number">
    </div>
    </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="col-md-6 col-sm-12">
     <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
   </div>
  </div>
  <div class="row">
  <div class="col-md-12 col-xs-12">
    <input type="checkbox" name="agree" value="I agree" required> I Agree By clicking <button type="button" class="btn btn-primary btn-xs">Register</button>,you agree to the <a href="#">Terms and Conditions</a> set out
   by this site,including our Cookie Use.
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <button type="button" class="btn btn-primary col-md-12 col-xs-12">Register</button>
  </div>
  <div class="col-xs-12 col-md-6">
  <button type="button" class="btn btn-success col-md-12 col-xs-12">I Have an Account</button>
  </div>
  </div>
  
  </div>
   
  
